/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/public/dist
/public/images
/public/icons
/public/svg
/public/assets
#/public/assets
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.php_cs.cache
/.idea/
.composer-lock.json
/frontend/.package-lock.json
/frontend/node_modules
/public/fonts
composer.lock
package-lock.json
yarn.lock
docker/mysql-data
lappi-a45a0-firebase-adminsdk-romep-8583e0c3de.json
auth-firebase.json
lappi-duong-firebase-adminsdk-lml2r-f5ae06760e.json
