.users-list {
  color: #43425D;
  &__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .card {
    background-color: $white;
    padding: 30px;
    padding-top: 20px;
    box-shadow: 0 0 10px #0000001a;
  }
  #select-per-page {
    color: #333333 ;
    font-size: 15px;
  }
  .list-option--top {
    font-size: 12px;
    input {
      height: 40px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      padding: 0 10px;
    }
    p {
      margin-top: 10px;
      margin-bottom: 0;
      color: #333333;
    }
    .name {
      width: 135px;
      margin-right: 20px;
    }
    .user-name {
      width: 190px;
      margin-right: 20px;
    }
    .surname {
      width: 121px;
      margin-right: 20px;
    }
  }
  .list-option--bottom {
    font-size: 12px;
    input {
      height: 40px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      padding: 0 10px;
    }
    margin-bottom: 30px;
    position: relative;
    p {
      margin-top: 10px;
      margin-bottom: 0;
      color: #333333;
    }
    .select_verification_status {
      width: 172px;
      height: 40px;
      margin-right: 20px;
      box-shadow: none;
    }
    .email {
      width: 333px;
      margin-right: 20px;
    }
    .btn-search-wrap {
      margin-top: auto;
    }
    .btn-search {
      width: 60px;
      height: 40px;
      border: none;
      box-shadow: none;
      outline: none;
      border-radius: 3px;
      font-size: 15px;
      background-color: #1874C4;
      color: white;
    }
    .name {
      width: 135px;
      margin-right: 20px;
    }
  }
  hr {
    margin: 0 -30px;
  }
  .record {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 3px;

    &__select {
      margin-right: 10px;
      width: 80px;
      height: 40px;
      box-shadow: none;
      font-size: 15px;
      color: #333333;
      option {
        font-size: 15px;
        color: #333333;
      }
    }
    span {
      color: #333333;
    }
  }

  &__table {
    color: #333333;
    width: 3050px;
    .action {
      min-width: 80px;
    }
    td {
      vertical-align: middle;
    }
    .user_id_column {
      width: 160px;
      max-width: 160px;
    }
    .user_type_column {
      width: 120px;
      max-width: 120px;
    }
    .nickname_column {
      width: 240px;
      max-width: 240px;
    }
    .last_name_kanji_column {
      width: 150px;
      max-width: 150px;
    }
    .first_name_kanji_column {
      width: 150px;
      max-width: 150px;
    }
    .sex_column {
      width: 120px;
      max-width: 120px;
    }
    .login_type_column {
      width: 230px;
      max-width: 230px;
    }
    .email_column {
      width: 350px;
      max-width: 350px;
    }
    .pg_points_balance_column {
      width: 200px;
      max-width: 200px;
    }
    .total_points_consumed_column {
      width: 200px;
      max-width: 200px;
    }
    .identity_verification_status_column {
      width: 200px;
      max-width: 200px;
    }
    .inviting_user_id_column {
      width: 200px;
      max-width: 200px;
      a {
        color: #1874C4;
        text-decoration: none;
        font-size: 15px;
      }
    }
    .total_number_of_uses_column {
      width: 200px;
      max-width: 200px;
    }
    .best_score_column {
      width: 200px;
      max-width: 200px;
    }
    .avg_score1_column {
      width: 200px;
      max-width: 200px;
    }
    .avg_score2_column {
      width: 200px;
      max-width: 200px;
    }
    .golf_experience_id_column {
      width: 200px;
      max-width: 200px;
    }
    .last_login_column {
      width: 250px;
      max-width: 250px;
    }

    .btn_user-detail {
      border: 1px solid #cccccc;
      outline: none;
      background-color: #ffffff;
      border-radius: 3px;
      width: 80px;
      height: 40px;
      font-size: 13px;
      color: #666666;
    }
  }
}

@media (max-width: 800px) {
  .email, .user-name {
    width: 100% !important;
  }
}

@media (max-width: 1370px) {
  .users-list .list-option--bottom .btn-search {
    margin-top: 10px;
  }
}

button {
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
}
.user-detail {
  padding: 30px 60px;
  font-size: 15px;
  .card {
    margin-bottom: 40px;
    .card-header {
      color: #333333;
      background: #FFFFFF;
    }
  }
  .card-rank {
    height: calc(100% - 40px);
  }
  .card__content {
    padding: 30px;
    .select-option {
      height: 40px;
      width: 40%;
      box-shadow: none;
    }
  }
  textarea {
    box-shadow: none;
    outline: none;
    padding: 12px 22px;
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #FFFFFF;

    &__btn {
      font-size: 13px;
      padding: 7px 17px;
      box-shadow: none;
      background: #1874C4;
      border-color: #1874C4;
      &:active {
        background-color: #1874C4 !important;
        border-color: #1874C4 !important;
      }
      &:hover {
        background-color: #1874C4 !important;
        border-color: #1874C4 !important;
      }
    }
  }
  &__title {
    margin-bottom: 15px;
    span {
      font-size: 25px;
    }
    span.title {
      color: #43425D;
    }
    .btn-left {
      padding: 12px 30px;
      margin-right: 20px;
      background-color: #1874c4;
      color: #ffffff;
    }
    .btn-right {
      padding: 12px 30px;
      background-color: #fafafa;
      border: 1px solid #cccccc;
      color: #666666;
    }
  }
  &__content {
    &-info {
      margin-bottom: 45px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #333333;
    }
    &-image {
      img {
        width: 270px;
        height: 270px;
        margin-right: 35px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    textarea {
      resize: none;
      color: #333333;
      border-color: #cccccc;
    }
    select {
      width: 181px !important;
      font-size: 15px;
      color: #333333;
    }
    .button--footer {
      margin-top: 10px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .sale-support__btn {
      background-color: #1874c4;
      padding: 13px 30px;
      margin-right: 20px;
      color: #ffffff;
    }
    .button--footer--right {
      padding: 8px 15px;
      background-color: #FF0000;
      color: #ffffff;
    }
  }
  &__content-last-info {
    color: #333333;
  }
  #modal-give-point {
    .modal-dialog {
      width: 440px;
    }
  }
  .modal-header {
    align-items: center !important;
    .modal-title {
      font-size: 15px;
      color: #000000;
    }
  }
  .give-point {
    font-size: 13px;
    padding: 50px;
    .point {
      font-size: 13px;
    }
    div {
      width: 100%;
    }
    input {
      margin-right: 15px;
      border-radius: 5px;
      outline: none;
      border: 1px solid #cccccc;
      flex: 1;
      height: 50px;
      padding: 10px;
    }
    button {
      border: none;
      border-radius: 3px;
      background-color: #0089ff;
      padding: 18px 45px;
      font-size: 15px;
      margin-top: 50px;
      color: $white;
      float: right;
    }
    p {
      color: #333333;
    }
    .point {
      color: #333333;
    }
  }
  .modal-two-button {
    .modal-dialog {
      width: 400px;
    }
    .modal-header {
      border: none;
      padding-bottom: 0;
    }
    .modal-body {
      padding: 0 40px 40px 40px;
      font-size: 15px;
      p {
        margin: 0 30px;
        margin-bottom: 30px;
        color: #333333;
      }
      button {
        width: 150px;
        height: 50px;
      }
      .btn-accept {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        color: #333333;
      }
      .btn-cancel {
        background: #1874C4 0% 0% no-repeat padding-box;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        color: #FFFFFF;
      }
    }
  }
  .deposit {
    div {
      flex: 1;
      margin-right: 10px;
      input {
        width: 100%;
        margin-right: 10px;
      }
    }
    span {
      display: inline-block;
      line-height: 50px;
    }
    .error {
      color: #ef4f4f;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
