.livestream-block {
  background: #F9FAFB;
  max-width: 100%;
  width: 880px;
  height: 225px;
  margin: 75px auto;
  padding: 40px;
}

.livestream-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2A3242;
}

.livestream-text {
  padding-top: 23px;
  margin-top: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2A3242;
  margin-bottom: 29px;
}
