$black: #000000;
$white: #FFFFFF;
$black_box_shadow_discount: #0000001A;
$black_border_discount: #0000001A;
$light_grey_border_discount: #CCCCCC;
$dark_charcoal: #333333;
$blue_background_discount: #1874C4;
$dodger_blue_background_discount: #1874C4;
$light_background: #EEEEEE;
$gun_powder: #43425D;
$gray: #666666;
$cod_gray: #111111;
$tonys_pink: #FF0000;
