.reset-password {
  text-align: left;
  width: 543px;
  margin: 53px auto 0;

  h1 {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2A3242;
    margin-bottom: 14px;
  }

  p {
    color: #2A3242;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    white-space: nowrap;
  }

  form {
    label {
      font-size: 14px;
      line-height: 21px;
      color: #2A3242;
    }

    input[type=email] {
      width: 399px;
      height: 35px;
      border-radius: 5px;
      color: #F6F6F6;
      border: 1px solid #EFEFEF;
      caret-color: #46CB90;
      outline: none;
      background-color: #FFFFFF;
      margin-left: 13px;
      padding-left: 8px;
      font-size: 14px;
      line-height: 21px;
      color: #2A3242;
    }

    button {
      display: block;
      //margin-left: 10px;
      background-color: #46CB90;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 21px;
      width: 200px;
      height: 41px;
      border-radius: 5px;
      border: none;
      outline: none;
      margin-top: 40px;
    }
  }
}

.reset-password-form {
  text-align: left;
  max-width: 400px;
  margin: 53px auto 0;

  .reset-title {
    font-size: 16px;
    line-height: 24px;
    color: #2A3242;
  }

  .user-info {
    margin: 18px 0;

    div {
      font-size: 14px;
      line-height: 25px;
      color: #2A3242;
    }

    :first-child {
      border: 1.9309px solid #46CB90;
      box-sizing: border-box;
      width: 47px;
      height: 47px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .message-error {
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
    color: #E40303;
  }

  // input:focus {
  //   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  //   border: 1px solid rgba(81, 203, 238, 1);
  // }

  .title {
    font-size: 14px;
    line-height: 21px;
    color: #2A3242;
    margin-bottom: 6px;
  }

  .instruction {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: #4E5768;
    margin-top: 6px;
    margin-bottom: 20px;
  }

  .password {
    width: 100%;
    height: 35px;
    padding: 6px 8px;
    caret-color: #46CB90;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 5px;

    &:focus {
      outline: none;
      border: 1px solid #46CB90;
    }
  }

  button {
    font-weight: 600;
    height: 41px;
    font-size: 14px;
    line-height: 21px;
    max-width: 200px;
    width: 100%;
    padding: 10px 0;
    background: #46CB90;
    border: 1px solid #46CB90;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    margin-top: 25px;
  }

  .border-error {
    border: 1px solid #EE3D48;
  }

  .input--focus {
    border: 1px solid #46CB90;
  }
}

.reset-form-success-wrap {
  .reset-password-success {
    text-align: center;
    max-width: 400px;
    margin: 53px auto 0;

    img {
      width: 70px;
      height: 75px;
    }

    .success {
      font-size: 16px;
      line-height: 24px;
      color: #2A3242;
      margin-top: 29.76px;
    }

    .notification {
      margin-top: 14px;
      color: #2A3242;
      font-size: 14px;
      line-height: 21px;
    }

    a {
      margin: auto;
      margin-top: 30px;
      background: #46CB90;
      margin: auto;
      margin-top: 30px;
      border: 1px solid #46CB90;
      box-sizing: border-box;
      border-radius: 5px;
      max-width: 200px;
      height: 41px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 14px;
      line-height: 21px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// MOBILE
@media only screen and (max-width: 776px) {
  .reset-password-wrap {
    padding: 0 10px;

    .reset-password {
      text-align: left;
      width: 100%;
      margin: 10px auto 0;

      h1 {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: #2A3242;
        margin-bottom: 14px;
        margin-left: 10px;
      }

      p {
        color: #2A3242;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 20px;
        white-space: pre-wrap;
        padding-right: 20px;
      }

      form {
        label {
          font-size: 14px;
          line-height: 21px;
          color: #2A3242;
          margin-bottom: 9px;
          font-weight: 600;
        }

        input[type=email] {
          width: 100%;
          height: 41px;
          border-radius: 5px;
          color: #F6F6F6;
          border: 1px solid #EFEFEF;
          caret-color: #46CB90;
          outline: none;
          box-shadow: none;
          background-color: #FFFFFF;
          margin-left: 0;
          padding-left: 8px;
          font-size: 14px;
          line-height: 21px;
          color: #2A3242;
          &:focus {
            border: 1px solid #46CB90;
          }
        }

        button {
          display: block;
          margin-left: 0;
          background-color: #46CB90;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 21px;
          width: 100%;
          height: 41px;
          border-radius: 5px;
          border: none;
          outline: none;
          margin-top: 10px;
        }
      }
    }
  }

  .reset-password-form-wrap {
    padding: 0 10px;

    .reset-password-form {
      text-align: left;
      max-width: 100%;
      margin: 10px auto 0;

      .reset-title {
        font-size: 16px;
        line-height: 24px;
        color: #2A3242;
      }

      .user-info {
        margin: 10px 0;

        div {
          font-size: 14px;
          line-height: 25px;
          color: #2A3242;
        }

        :first-child {
          border: 1.9309px solid #46CB90;
          box-sizing: border-box;
          width: 47px;
          height: 47px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      .message-error {
        margin-top: 5px;
        font-size: 12px;
        line-height: 18px;
        color: #E40303;
      }

      .title {
        font-size: 14px;
        line-height: 21px;
        color: #2A3242;
        margin-bottom: 6px;
      }

      .instruction {
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
        color: #4E5768;
        margin-top: 5px;
        margin-bottom: 10px;
      }

      .password {
        width: 100%;
        height: 41px;
        padding: 6px 8px;
        caret-color: #46CB90;
        background: #FFFFFF;
        border: 1px solid #EFEFEF;
        box-sizing: border-box;
        border-radius: 5px;

        &:focus {
          outline: none;
          border: 1px solid #46CB90;
        }
      }

      button {
        font-weight: 600;
        height: 41px;
        font-size: 14px;
        line-height: 21px;
        width: 100%;
        max-width: 100%;
        padding: 10px 0;
        background: #46CB90;
        border: 1px solid #46CB90;
        box-sizing: border-box;
        border-radius: 5px;
        color: white;
        margin-top: 10px;
      }

      .border-error {
        border: 1px solid #EE3D48;
      }
    }
  }

  .reset-form-success-wrap {
    padding: 0 10px;

    .reset-password-success {
      text-align: center;
      max-width: 100%;
      margin: 20px auto 0;

      img {
        width: 70px;
        height: 75px;
      }

      .success {
        font-size: 16px;
        line-height: 24px;
        color: #2A3242;
        margin-top: 29.76px;
      }

      .notification {
        margin-top: 14px;
        color: #2A3242;
        font-size: 14px;
        line-height: 21px;
      }

      a {
        margin: auto;
        margin-top: 30px;
        background: #46CB90;
        margin: auto;
        margin-top: 30px;
        border: 1px solid #46CB90;
        box-sizing: border-box;
        border-radius: 5px;
        max-width: 200px;
        height: 41px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
